
{# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %} 

{# Archivos #}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'eatnnovationApp/css/styles.css' %}">
    <title>Eatnnovation</title>
    
</head> 
<body>
    <div class="hero">

      <nav>
           
        <img src="{% static 'eatnnovationApp/img/logo.png' %}" class="logo"  >
        

        <ul>
            {% if user.is_authenticated and user.is_staff %}
            <li><a href="{% url 'productList' %}">Products</a></li>
            <li><a href="{% url 'userList' %}">Users</a></li>
            {% endif %}
            
            <li><a href="{% url 'menu' %}">Menu</a></li>   
            {% if user.is_authenticated  %}  
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li> 
                <a href="#">@{{user.username}} </a>
            </li>
            {% else %} 
            <li>
                <a href="{% url 'login' %}">Login</a>
              </li>
            {% endif %}
        </ul>
        <a href="{% url 'home' %}"> <img src="{% static 'eatnnovationApp/img/home.png' %}" class="menu-img" >
        </a>
        
        
    </nav>

    <h2>Select products</h2>

    <form method="POST" action="#">
        <input type="hidden" name="total_quantity" value="{{ selected_products|length }}">
        {% csrf_token %}
    
        {% for item in selected_products %}
        <input type="hidden" name="product_id_{{ forloop.counter }}" value="{{ item.product.id }}">
        <input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ item.quantity }}">
        {% endfor %}
    
        <div class="contenedor">
    
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="15%">Name</th>
                        <th width="15%">Category</th>
                        <th witdh="35">Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Available</th>
                        <th>Selection </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in object_list %}
                    <tr>
                        <td>{{ product.name | title }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.description | capfirst }}</td>
                        <td>${{ product.price | intcomma }}</td>
                        {% if product.img %}
                        <td><img src="{{ product.img.url }}" alt="{{ product.name }}" class="img-fluid" width="50%">
                            {% endif %}
                        </td>
                        <td>{{ product.availableCant }}</td>
                        <td>
                            <input type="number" name="quantity_{{ product.id }}" min="0" max="{{ product.availableCant }}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-striped table-hover">
              <thead>
                  <tr>
                      <th width="15%">Product</th>
                      <th width="15%">Amount</th>
                      <th>Price</th>
                      <th>Total</th>
                  </tr>
              </thead>
              <tbody>
                  {% for product in object_list %}
                  <tr>
                      <td>{{ product.name | title }}</td>
                      <td>{{ product.category }}</td>
                      <td>{{ product.description | capfirst }}</td>
                      <td>${{ product.price | intcomma }}</td>
                      {% if product.img %}
                      <td><img src="{{ product.img.url }}" alt="{{ product.name }}" class="img-fluid" width="50%">
                          {% endif %}
                      </td>
                      <td>{{ product.availableCant }}</td>
                      <td>
                          <input type="number" name="quantity_{{ product.id }}" min="0" max="{{ product.availableCant }}">
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>    









        </div>
        {% if user.is_authenticated %}
        <br>
        <button type="submit" class="btn btn-success">Save and continue</button>
        {% else %}
        <h4>Log in to order</h4>
        {% endif %}
    </form>
    
    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}

    <footer>
      <p> Lilian Estefania Maradiago, Nicolas Gonzales y Camilo Roman Castiblanco</p>
  </footer>

