{% extends 'eatnnovationApp/base.html' %}

{% load static %}
{% load humanize %}

{% block contenido %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'eatnnovationApp/css/styleInvoice.css' %}">
</head>

<body>
    <h2>Order Confirmation</h2>
    <div class="contenedor">
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>${{ product.product.price | intcomma }}</td>
                    <td>${{ product.subtotal | intcomma }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="3">Total Amount:</th>
                    <td>${{ total_amount | intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

{% endblock %}